<h1>Welcome to <%= name %></h1>

<Section>
    <h4>Create a Tweet</h4>
    <form action="/tweets/create" method="post">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Write Tweet"></textarea>
        <input type="submit" value="Create Tweet">
    </form>
</Section>

